ADDR=:5098
ES_URL=http://127.0.0.1:9200
SEARCH_DEBUG=false
PROMETHEUS_URL=http://127.0.0.1:9090
ALERTMANAGER_URL=http://127.0.0.1:9093
FRONTEND_PATH=./
MARATHON_URL=http://192.168.1.91:8080/
UI_BACKEND=http://192.168.1.75:5098
NOTIFICATION_URL=http://localhost:8080
