ADDR=:5098
ES_URL=http://127.0.0.1:9200
SEARCH_DEBUG=false
PROMETHEUS_URL=http://127.0.0.1:9090
ALERTMANAGER_URL=http://127.0.0.1:9093
FRONTEND_PATH=./
MARATHON_URL=http://192.168.1.91:8080/
UI_BACKEND=http://192.168.1.75:5098
NOTIFICATION_URL=http://localhost:8080
DB_DSN=root:dataman1234@tcp(localhost:3306)/mola?charset=utf8&parseTime=true&loc=Local
DB_DRIVER=mysql
RULE_FILE_PATH=/dataman/rules
QUERY_EXPR_FILE=./expr-sample.yaml
BORG_USER=admin
BORG_PASSWORD=Admin1234
BORG_URL=http://192.168.59.3:5098/
