<div class="search-keyword">
    <p ng-show="$stateParams.appid">应用: <em>{/$stateParams.appid/}</em></p>
    <p ng-show="$stateParams.taskid">实例: <em>{/$stateParams.taskid/}</em></p>
    <p ng-show="$stateParams.path">来源: <em>{/$stateParams.path/}</em></p>
    <p ng-show="$stateParams.keyword">关键词: <em>{/$stateParams.keyword/}</em></p>
    <p ng-show="$stateParams.from">起始时间: <em>{/$stateParams.from | date: 'yyyy-MM-dd HH:mm'/}</em></p>
    <p ng-show="$stateParams.to">结束时间: <em>{/$stateParams.to | date: 'yyyy-MM-dd HH:mm'/}</em></p>
</div>

<div class="result-sum">
    <span ng-show="vm.loadingFlag">加载中...</span>
    <span ng-hide="vm.loadingFlag">
        总计 <em>{/vm.count/}</em> 条记录
    </span>
</div>

<md-table-container ng-hide="!vm.logs.length">
    <table md-table id="user-list-table">
        <thead md-head>
        <tr md-row>
            <th md-column style="width: 60px;"></th>
            <th md-column style="width: 160px;">时间</th>
            <th md-column>信息</th>
            <th md-column style="width: 100px;">上下文</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row
            ng-repeat-start="log in vm.logs track by $index">
            <td md-cell>
                <a ng-click="vm.logDisplaySet[$index] = !vm.logDisplaySet[$index]">
                    <i id="logDetails{/$index/}" class="fa"
                       ng-class="{'fa-chevron-down':vm.logDisplaySet[$index], 'fa-chevron-right':!vm.logDisplaySet[$index]}"></i>
                </a>
            </td>
            <td md-cell>
                {/log.logtime | date: 'yyyy-MM-dd HH:mm:ss'/}
            </td>
            <td md-cell>
                <div ng-bind-html="log.message"></div>
            </td>
            <td md-cell>
                <a id="logContext{/$index/}" ui-sref="home.logbase.logcontext({appid: log.appid, taskid: log.taskid, path: log.path, offset: log.offset})">上下文</a>
            </td>
        </tr>
        <tr ng-repeat-end ng-hide="!vm.logDisplaySet[$index]">
            <td colspan="3">
                <div id="json-detail" class="json-detail">
                    <dl layout="row" ng-repeat="(key, value) in log track by $index">
                        <dt>{/key/}</dt>
                        <dd ng-bind-html="value"></dd>
                    </dl>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <md-table-pagination md-limit="vm.query.limit"
                         md-label="{page: '页:', rowsPerPage: '每页:', of: 'of'}"
                         md-limit-options="vm.limitOptions"
                         md-boundary-links="vm.limitOptions.boundaryLinks"
                         md-page="vm.query.page"
                         md-total="{/vm.count/}"
                         md-on-paginate="vm.onPaginate"
                         md-page-select="vm.options.pageSelect">
    </md-table-pagination>
</md-table-container>
