<div class="alarm-strategy-list" layout="column">
    <div class="result-sum">
        <h2>报警规则</h2>
    </div>
    <div class="panel">
        <div layout="row" layout-align="end start">
            <md-button id="newWords" class="md-raised md-primary" ui-sref="home.monitorAlertCreate">
                新建
            </md-button>
        </div>
        <md-table-container data-ng-if="vm.rules.length">
            <table md-table id="user-list-table">
                <thead md-head>
                <tr md-row>
                    <th md-column>报警名称</th>
                    <th md-column>集群</th>
                    <th md-column>应用</th>
                    <th md-column>报警指标</th>
                    <th md-column>报警级别</th>
                    <th md-column>监控阀值</th>
                    <th md-column>描述</th>
                    <th md-column>创建时间</th>
                    <th md-column>更新时间</th>
                    <th md-column>操作</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row
                    ng-repeat="rule in vm.rules track by $index">
                    <td md-cell>
                        {/rule.name/}
                    </td>
                    <td md-cell>
                        {/rule.cluster/}
                    </td>
                    <td md-cell>
                        {/rule.app/}
                    </td>
                    <td md-cell>
                        {/rule.indicator/}
                    </td>
                    <td md-cell>
                        {/rule.severity/}
                    </td>
                    <td md-cell>
                        <span>{/rule.aggregation/}</span>
                        <span>{/rule.comparison/}</span>
                        <span>{/rule.threshold/}</span>
                        <span data-ng-if="rule.indicator === 'cpu_usage'">%</span>
                        <span data-ng-if="rule.indicator === 'mem_usage'">%</span>
                    </td>
                    <td md-cell>
                        {/rule.description/}
                    </td>
                    <td md-cell>
                        {/rule.CreatedAt | date:" yyyy-MM-dd HH:mm:ss"/}
                    </td>
                    <td md-cell>
                        {/rule.UpdatedAt | date:" yyyy-MM-dd HH:mm:ss"/}
                    </td>
                    <td md-cell>
                        <div class="action" layout="row">
                            <md-button id="update{/$index/}" aria-label="update" class="md-raised"
                                       data-ui-sref="home.monitorAlertUpdate({id: rule.ID})">
                                更新
                            </md-button>
                            <md-button id="delete{/$index/}" aria-label="update" class="md-raised"
                                       data-ng-click="vm.deleteAlert(rule.ID, rule.class)">
                                删除
                            </md-button>
                            <md-button aria-label="update" class="md-raised" ng-if="rule.status === 'Disabled'"
                                       ng-click="vm.activateAlert(rule)">启用
                            </md-button>
                            <md-button aria-label="update" class="md-raised" ng-if="rule.status === 'Enabled'"
                                       ng-click="vm.activateAlert(rule)">暂停
                            </md-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
    </div>
</div>
