<div class="statistic" layout="row" layout-align="start space-between">
    <div class="statistic-panel" flex="20">
        <h3>实例个数</h3>
        <em>{/keys(vm.instances).length/}</em>
    </div>
    <div class="statistic-panel" flex="20">
        <h3>CPU</h3>
        <em>{/vm.realTimeData.cpuPercent.toFixed(2)/} %</em>
    </div>
    <div class="statistic-panel" flex="20">
        <h3>内存</h3>
        <em>{/vm.realTimeData.memUsage.toFixed(2)/} %</em>
    </div>
    <div class="statistic-panel" flex="20">
        <h3>网络 IO</h3>
        <em>读: {/vm.realTimeData.networkReceive | netRate/}</em>
        <em>写: {/vm.realTimeData.networkTransmit | netRate/}</em>
    </div>
    <div class="statistic-panel" flex="20">
        <h3>磁盘 IO</h3>
        <em>读: {/vm.realTimeData.fileSysRead | netRate/}</em>
        <em>写: {/vm.realTimeData.fileSysWrite | netRate/}</em>
    </div>
</div>
<div class="chart" layout="row">
    <div class="chart-panel" flex="100">
        <div>
            <nvd3 options="vm.chartOptions.networkOptions"
                  data="vm.chartOptions.networkData" api="vm.networkApi"
                  config="{deepWatchData: false, deepWatchOptions:false}"></nvd3>
        </div>
    </div>
</div>

<div class="chart" layout="row">
    <div class="chart-panel" flex="100">
        <div>
            <nvd3 options="vm.chartOptions.cpuOptions"
                  data="vm.chartOptions.cpuData" api="vm.cpuApi"
                  config="{deepWatchData: false, deepWatchOptions:false}"></nvd3>
        </div>
    </div>
</div>


<div class="chart" layout="row">
    <div class="chart-panel" flex="100">
        <div>
            <nvd3 options="vm.chartOptions.memOptions"
                  data="vm.chartOptions.memData" api="vm.memApi"
                  config="{deepWatchData: false, deepWatchOptions:false}"></nvd3>
        </div>
    </div>
</div>

<div class="chart" layout="row">
    <div class="chart-panel" flex="100">
        <div>
            <nvd3 options="vm.chartOptions.fileSysOptions"
                  data="vm.chartOptions.fileSysData" api="vm.fileSysApi"
                  config="{deepWatchData: false, deepWatchOptions:false}"></nvd3>
        </div>
    </div>
</div>
<md-content class="main-tab-content">
    <md-table-container>
        <table md-table id="node-list">
            <thead md-head>
            <tr md-row>
                <th md-column>实例</th>
                <th md-column>主机</th>
                <th md-column>CPU</th>
                <th md-column>内存</th>
                <th md-column>网络I/O</th>
                <th md-column>磁盘I/O</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="(key, value) in vm.instances track by $index">
                <td md-cell>
                    <a ui-sref="home.instancemonitor({appId: $stateParams.appId, taskId: key.substring(8)})">{/key/}</a>
                </td>
                <td md-cell>
                    {/value.node/}
                </td>
                <td md-cell>
                    {/ ((value.cpu.usage[1] | num) * 100).toFixed(2)/} %
                </td>
                <td md-cell>
                    {/value.memory.usage_bytes[1] | size/} / {/value.memory.total_bytes[1] | size/}
                </td>
                <td md-cell>
                    <p ng-repeat="(networkKey, networkValue) in value.network">
                        网卡: {/networkKey/} 发送:{/networkValue.transmit[1] | netRate/} 接收:{/networkValue.receive[1] | netRate/}
                    </p>
                </td>
                <td md-cell>
                    读:{/value.filesystem.read[1] | netRate/} 写:{/value.filesystem.write[1] | netRate/}
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
</md-content>