<div class="statistic" layout="row" layout-align="space-between stretch">
    <div class="statistic-panel" layout="column" layout-align="space-around center">
        <h3>集群数</h3>
        <em>{/keys(vm.info.clusters).length/}</em>
    </div>
    <div class="statistic-panel" layout="column" layout-align="space-around center">
        <h3>应用数</h3>
        <em>{/vm.info.applications.length/}</em>
    </div>
    <div class="statistic-panel" layout="column" layout-align="space-around center">
        <h3>实例数</h3>
        <em>{/vm.info.tasks.length/}</em>
    </div>
    <div class="statistic-panel statictic-io" layout="column" layout-align="space-around center">
        <h3>主机数</h3>
        <em>{/vm.info.nodes.length/}</em>
    </div>
</div>

<md-content class="main-tab-content">
    <md-table-container>
        <table md-table id="cluster-list">
            <thead md-head>
            <tr md-row>
                <th md-column>集群</th>
                <th md-column>应用</th>
                <th md-column>实例</th>
                <th md-column>主机</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="(key, value) in vm.info.clusters track by $index">
                <td md-cell>
                    <a ui-sref="home.dashboardMonitor({clusterId: key})">{/key/}</a>
                </td>
                <td md-cell>
                    <p ng-repeat="(appKey, appValue) in value.applications track by $index">{/appKey/}</p>
                </td>
                <td md-cell>
                    <p ng-repeat="task in value.tasks track by $index">{/task/}</p>
                </td>
                <td md-cell>
                    <p ng-repeat="node in value.nodes track by $index">{/node/}</p>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
</md-content>

<md-content class="main-tab-content">
    <md-table-container>
        <table md-table id="node-list">
            <thead md-head>
            <tr md-row>
                <th md-column>主机</th>
                <th md-column>CPU</th>
                <th md-column>内存</th>
                <th md-column>网络I/O</th>
                <th md-column>磁盘使用量</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="(key, value) in vm.nodes track by $index">
                <td md-cell>
                    {/key/}
                </td>
                <td md-cell>
                    {/ ((value.cpu.usage[1] | num) * 100).toFixed(2) /} %
                </td>
                <td md-cell>
                    {/value.memory.usage_bytes[1] | size/} / {/value.memory.total_bytes[1] | size/}
                </td>
                <td md-cell>
                    <p ng-repeat="(networkKey, networkValue) in value.network">
                        网卡: {/networkKey/}
                        <span ng-show="networkValue.transmit">发送:{/networkValue.transmit[1] | netRate/}</span>
                        <span ng-hide="networkValue.transmit">发送: - </span>
                        <span ng-show="networkValue.receive">接收:{/networkValue.receive[1] | netRate/}</span>
                        <span ng-hide="networkValue.receive">接收: - </span>
                    </p>
                </td>
                <td md-cell>
                    <p ng-repeat="(filesystemKey, filesystemValue) in value.filesystem">
                        磁盘: {/filesystemKey/} {/filesystemValue.usage_bytes[1] | size/}/{/filesystemValue.total_bytes[1]
                        | size/}

                        磁盘占用比: {/ ((filesystemValue.usage_bytes[1] / filesystemValue.total_bytes[1]) * 100).toFixed(2) /}%
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
</md-content>