<div class="statistic panel" layout="row" layout-align="space-between stretch">
    <div class="statistic-panel" layout="column" layout-align="space-around center">
        <h3>集群数</h3>
        <em id="clusterNumb">{/keys(vm.info.clusters).length/}</em>
    </div>
    <div class="statistic-panel" layout="column" layout-align="space-around center">
        <h3>应用数</h3>
        <em id="appNumb">{/vm.info.applications.length/}</em>
    </div>
    <div class="statistic-panel" layout="column" layout-align="space-around center">
        <h3>实例数</h3>
        <em id="instanceNumb">{/vm.info.tasks.length/}</em>
    </div>
    <div class="statistic-panel" layout="column" layout-align="space-around center">
        <h3>主机数</h3>
        <em id="hostNumb">{/vm.info.nodes.length/}</em>
    </div>
</div>
<div class="panel">
    <md-table-container>
        <table md-table id="cluster-list">
            <thead md-head>
            <tr md-row>
                <th id="clusters" md-column style="width:150px;">集群</th>
                <th id="apps" md-column style="width:200px;">应用</th>
                <th id="instances" md-column>实例</th>
                <th id="hosts" md-column style="width:150px;">主机</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="(key, value) in vm.info.clusters track by $index">
                <td md-cell>
                    <a ui-sref="home.dashboardMonitor.detail({clusterId: key, appId: keys(value.applications)[0]})">{/key/}</a>
                </td>
                <td md-cell>
                    <p ng-repeat="(appKey, appValue) in value.applications track by $index">{/appKey/}</p>
                </td>
                <td md-cell>
                    <p ng-repeat="task in value.tasks | orderBy: task track by $index">{/task/}</p>
                </td>
                <td md-cell>
                    <p ng-repeat="node in value.nodes track by $index">{/node/}</p>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
</div>
<div class="panel">
    <md-table-container>
        <table md-table id="node-list">
            <thead md-head>
            <tr md-row>
                <th md-column style="width:150px;">主机</th>
                <th md-column style="width:100px;">CPU</th>
                <th md-column style="width:200px;">内存<small>使用量 | 总量</small></th>
                <th md-column>网络I/O<small>网卡名 | 发送 | 接收</small></th>
                <th md-column>磁盘使用量<small>磁盘名 | 使用量 | 总量 | 占用比</small></th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="(key, value) in vm.nodes track by $index">
                <td md-cell>
                    {/key/}
                </td>
                <td md-cell>
                    {/ ((value.cpu.usage[1] | num) * 100).toFixed(2) /} %
                </td>
                <td md-cell>
                    <ul>
                        <li><span>{/value.memory.usage_bytes[1] | size/}</span><span>{/value.memory.total_bytes[1] | size/}</span></li>
                    </ul>
                </td>
                <td md-cell>
                    <ul>
                        <li ng-repeat="(networkKey, networkValue) in value.network">
                            <span>{/networkKey/}</span><span ng-show="networkValue.transmit">{/networkValue.transmit[1] | netRate/}</span><span ng-hide="networkValue.transmit">-</span><span ng-show="networkValue.receive">{/networkValue.receive[1] | netRate/}</span><span ng-hide="networkValue.receive">-</span>
                        </li>
                    </ul>
                </td>
                <td md-cell>
                    <ul>
                        <li ng-repeat="(filesystemKey, filesystemValue) in value.filesystem">
                            <span>{/filesystemKey/}</span><span>{/filesystemValue.usage_bytes[1] | size/}</span><span>{/filesystemValue.total_bytes[1]
                            | size/}</span><span>{/ ((filesystemValue.usage_bytes[1] / filesystemValue.total_bytes[1]) * 100).toFixed(2) /}%</span>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
</div>