<div class="alarm-strategy-list" layout="column">
    <h2>日志告警规则</h2>
    <div class="panel">
        <div layout="row" layout-align="end start">
            <md-button id="newWords" class="md-raised md-primary" ui-sref="home.alertKeywordCreate">
                新建
            </md-button>
        </div>
        <md-table-container>
            <table md-table id="user-list-table">
                <thead md-head>
                <tr md-row>
                    <th md-column>应用</th>
                    <th md-column>集群</th>
                    <th md-column>关键字</th>
                    <th md-column>状态</th>
                    <th md-column>来源</th>
                    <th md-column>创建时间</th>
                    <th md-column>描述</th>
                    <th md-column>操作</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="keyword in vm.keywords track by $index">
                    <td md-cell>{/keyword.app/}</td>
                    <td md-cell>{/keyword.cluster/}</td>
                    <td md-cell>{/keyword.keyword/}</td>
                    <td md-cell>{/vm.ALERT_STATUS[keyword.status]/}</td>
                    <td md-cell>{/keyword.source/}</td>
                    <td md-cell>{/keyword.createdAt | date:" yyyy-MM-dd HH:mm:ss"/}</td>
                    <td md-cell>
                        <span ng-if="keyword.description">{/keyword.description/}</span>
                        <span ng-if="!keyword.description">-</span>
                    </td>
                    <td md-cell>
                        <div class="action" layout="row">
                          <md-button aria-label="update" class="md-raised" style="height:20px;margin-top:8px;"
                                     data-ui-sref="home.alerthistory({cluster: keyword.cluster, app: keyword.app, keyword: keyword.keyword})">
                                     查看历史
                          </md-button>
                            <md-menu md-offset="0 -5" >
                              <md-button aria-label='more' class="md-icon-menu" ng-click="$mdOpenMenu($event)">
                                  <i class='fa fa-ellipsis-h'></i>
                              </md-button>
                              <md-menu-content width="2">
                                <md-menu-item  ng-if="keyword.status === 'Disabled'">
                                  <md-button aria-label="update" class="md-raised"
                                             ng-click="vm.activateAlarm(keyword)">
                                             启动
                                  </md-button>
                                </md-menu-item>
                                <md-menu-item ng-if="keyword.status === 'Enabled'">
                                  <md-button aria-label="update" class="md-raised"
                                             ng-click="vm.activateAlarm(keyword)">
                                             暂停
                                  </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                <md-button aria-label="update" class="md-raised"
                                           data-ui-sref="home.alertKeywordUpdate({id: keyword.id})">
                                           更新
                                </md-button>
                              </md-menu-item>
                              <md-menu-item>
                                  <md-button aria-label="delete" class="md-raised"
                                               data-ng-click="vm.deleteKeyword(keyword.id)">
                                               删除
                                  </md-button>
                                </md-menu-item>
                              </md-menu-content>
                            </md-menu>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <md-table-pagination md-limit="vm.query.limit"
                                 md-label="{page: '页:', rowsPerPage: '每页:', of: 'of'}"
                                 md-limit-options="vm.limitOptions"
                                 md-boundary-links="vm.limitOptions.boundaryLinks"
                                 md-page="vm.query.page"
                                 md-total="{/vm.count/}"
                                 md-on-paginate="vm.onPaginate"
                                 md-page-select="vm.options.pageSelect">
            </md-table-pagination>
        </md-table-container>
    </div>
</div>
