<div class="alarm-strategy-list" layout="column">
    <h2>日志告警关键词列表</h2>
    <div class="panel">
        <div layout="row" layout-align="end start">
            <md-button id="newWords" class="md-raised md-primary" ui-sref="home.alertKeywordCreate">
                新建
            </md-button>
        </div>
        <md-table-container>
            <table md-table id="user-list-table">
                <thead md-head>
                <tr md-row>
                    <th md-column style="width: 200px;">应用</th>
                    <th md-column>关键字</th>
                    <th md-column style="width: 150px;">创建时间</th>
                    <th md-column>来源</th>
                    <th md-column style="width: 100px;">操作</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="keyword in vm.keywords track by $index">
                    <td md-cell>{/keyword.appid/}</td>
                    <td md-cell>{/keyword.keyword/}</td>
                    <td md-cell>{/keyword.createtime | date:" yyyy-MM-dd HH:mm:ss"/}</td>
                    <td md-cell>{/keyword.path/}</td>
                    <td md-cell>
                        <div class="action" layout="row">
                            <md-button aria-label="delete" class="md-raised" data-ng-click="vm.deleteKeyword(keyword.id)">
                                删除
                            </md-button>
                            <md-button aria-label="update" class="md-raised"
                                       data-ui-sref="home.alertKeywordUpdate({id: keyword.id})">更新
                            </md-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
    </div>
</div>