<div class="log" layout="row" layout-align="space-between start">
    <div class="panel log-condition">
        <form layout="column">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="最近">
                    <md-content>
                        <div flex class="form-item">
                            <md-select placeholder="最近时间" ng-model="vm.timePeriod" ng-change="vm.periodChange(vm.timePeriod)">
                                <md-option ng-value="30">最近三十分钟</md-option>
                                <md-option ng-value="120">最近两小时</md-option>
                                <md-option ng-value="360">最近六小时</md-option>
                            </md-select>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="高级">
                    <md-content>
                        <div flex class="form-item">
                            <input type="text" placeholder="开始时间">
                            <input type="text" placeholder="结束时间">
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
            <div flex class="form-item">
                <label class="requirement">应用名</label>
                <md-select placeholder="选择应用" ng-model="vm.selectApp" md-on-open="vm.loadApps()" ng-change="vm.selectAppChange(vm.selectApp)">
                    <md-option ng-value="key" ng-repeat="(key, value) in vm.apps">{/key/} : {/value/}</md-option>
                </md-select>
            </div>
            <div flex class="form-item">
                <label>实例 ID</label>
                <md-select placeholder="选择实例" ng-model="vm.selectTasks" md-on-open="vm.loadTasks()" multiple ng-change="vm.selectTasksChange(vm.selectTasks)"
                        ng-disabled="!vm.selectApp">
                    <md-option ng-value="key" ng-repeat="(key, value) in vm.tasks">{/key/} : {/value/}</md-option>
                </md-select>
            </div>
            <div flex class="form-item">
                <label>来源</label>
                <md-select placeholder="选择来源" ng-model="vm.selectPaths" md-on-open="vm.loadPaths()" multiple
                           ng-disabled="!vm.selectTasks.length">
                    <md-option ng-value="key" ng-repeat="(key, value) in vm.paths">{/key/} : {/value/}</md-option>
                </md-select>
            </div>
            <div flex class="form-item">
                <label>关键字</label>
                <input type="text">
            </div>
            <div class="form-buttons-footer" layout="column">
                <md-button class="md-raised md-primary" ng-click="vm.searchLog()">更新</md-button>
            </div>
        </form>
    </div>
    <div flex="auto" class="panel log-result">
        <div class="result-sum">总计<em>xxx</em>条记录</div>
        <table>
            <thead>
            <tr>
                <th></th>
                <th>时间</th>
                <th>信息</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="#">详情</a></td>
                <td>YYYY-MM-DD HH-MM-SS</td>
                <td>日志内容</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>