<div class="log" layout="row" layout-align="space-between start">
    <div class="panel log-condition">
        <form layout="column" name="staticForm">
            <md-tabs id="logRecentlyTab" md-dynamic-height md-border-bottom md-selected="vm.selectedTabIndex">
                <md-tab label="最近">
                    <md-content>
                        <div flex class="form-item">
                            <md-select id="logRecently" placeholder="最近时间" ng-model="vm.timePeriod">
                                <md-option id="logRecently0" ng-value="30">最近三十分钟</md-option>
                                <md-option id="logRecently1" ng-value="60">最近一小时</md-option>
                                <md-option id="logRecently2" ng-value="120">最近两小时</md-option>
                                <md-option id="logRecently3" ng-value="300">最近五小时</md-option>
                                <md-option id="logRecently4" ng-value="720">最近12小时</md-option>
                                <md-option id="logRecently5" ng-value="1440">最近一天</md-option>
                            </md-select>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="起始">
                    <md-content>
                        <div flex class="form-item">
                            <input id="logStartTime" type="datetime-local" placeholder="开始时间" ng-model="vm.startTime"
                                   ng-max="vm.endTime"
                                   name="startTime" ng-required="vm.selectedTabIndex === 1">
                            <p data-ng-show="staticForm.startTime.$error.max && !staticForm.startTime.$pristine">
                                起始时间大于结束时间
                            </p>
                            <span ng-show="staticForm.startTime.$error.datetimelocal">请填写正确时间格式</span>
                            <input id="logEndTime" type="datetime-local" placeholder="结束时间" ng-model="vm.endTime"
                                   ng-min="vm.startTime"
                                   name="endTime" ng-required="vm.selectedTabIndex === 1">
                            <p data-ng-show="staticForm.endTime.$error.min && !staticForm.endTime.$pristine">
                                结束时间小于起始时间</p>
                            <span ng-show="staticForm.endTime.$error.datetimelocal">请填写正确时间格式</span>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>

            <div flex class="form-item">
                <label class="requirement">集群</label>
                <md-select id="cluster" name="cluster" placeholder="选择集群" ng-model="vm.form.cluster"
                           md-on-open="vm.loadClusters()"
                           data-required="required" ng-disabled="vm.checkTimeVali(vm.selectedTabIndex)">
                    <md-option id="cluster{/$index/}" ng-value="key"
                               ng-repeat="(key, value) in vm.clusters track by $index">{/key/}
                    </md-option>
                </md-select>

                <div layout="row" class="form-item">
                    <p flex class="error-info help-info-bottom"
                       data-ng-show="staticForm.cluster.$error.required && !staticForm.cluster.$pristine">集群不能为空</p>
                </div>
            </div>

            <div flex class="form-item">
                <label class="requirement">应用</label>
                <md-select id="appName" name="app" placeholder="选择应用" ng-model="vm.form.app" md-on-open="vm.loadApps()"
                           data-required="required" ng-disabled="!vm.form.cluster">
                    <md-option id="app{/$index/}" ng-value="key" ng-repeat="(key, value) in vm.apps track by $index">
                        {/key/}
                    </md-option>
                </md-select>

                <div layout="row" class="form-item">
                    <p flex class="error-info help-info-bottom"
                       data-ng-show="staticForm.app.$error.required && !staticForm.app.$pristine">应用不能为空</p>
                </div>
            </div>
            <div flex class="form-item">
                <div layout="row" layout-align="space-between center">
                    <label>实例 ID</label>
                    <div>
                        <md-checkbox ng-model="vm.isTaskRunning" aria-label="task_status">
                            历史实例
                        </md-checkbox>
                    </div>
                </div>
                <md-select id="chooseInstance" name="task" placeholder="选择实例" ng-model="vm.form.task"
                           md-on-open="vm.loadTasks()"
                           ng-disabled="!vm.form.app || !vm.form.cluster">
                    <md-option value="">无</md-option>
                    <md-option id="task{/$index/}" ng-value="task.id" ng-repeat="task in vm.tasks track by $index">
                        {/task.id/}
                    </md-option>
                </md-select>

                <div layout="row" class="form-item">
                    <p flex class="error-info help-info-bottom"
                       data-ng-show="staticForm.task.$error.required && !staticForm.task.$pristine">实例名称不能为空</p>
                </div>
            </div>
            <div flex class="form-item">
                <label class="requirement">日志来源</label>
                <md-select id="chooseSource" placeholder="选择来源" ng-model="vm.form.source" md-on-open="vm.loadSources()"
                           data-required="required" ng-disabled="!vm.form.app">
                    <md-option id="chooseSource1" ng-value="key" ng-repeat="(key, value) in vm.sources">{/key/}
                    </md-option>
                </md-select>
            </div>
            <div flex class="form-item">
                <label>关键字</label>
                <input type="text" ng-maxlength="4096" id="logKeyW" name="logKeyW" placeholder="关键字"
                       ng-model="vm.form.keyword">
                <div layout="row" class="form-item">
                    <p flex class="error-info help-info-bottom"
                       data-ng-show="staticForm.logKeyW.$error.maxlength && !staticForm.logKeyW.$pristine">
                        关键字最大长度为4096！</p>
                </div>
            </div>

            <div class="form-buttons-footer" layout="column">
                <md-button id="logQuery" class="md-raised md-primary" ng-click="vm.searchLog()"
                           ng-disabled="staticForm.$invalid">查询
                </md-button>
            </div>
        </form>
    </div>
    <div ui-view flex class="panel log-result">
        请在左侧输入查询条件
    </div>
</div>
